#baner{
  height: 200px;
  background-color: blue;
  width: 1000px;
}
#lewy{
  height: 500px;
  width: 300px;
  float: left;
  background-color: red;
  padding: 30px;
  box-sizing: border-box;
}
p{
  font-style: italic;
}
